<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Replace method-->
    <bean id="methodReplacer" class="com.rog.teach.replaceMethod.FormatMessageReplacer"/>
    <bean id="replacementTarget" class="com.rog.teach.replaceMethod.ReplacementTarget">
        <replaced-method name="formatMessage" replacer="methodReplacer">
            <arg-type>String</arg-type>
        </replaced-method>
    </bean>
    <bean id="standardTarget" class="com.rog.teach.replaceMethod.ReplacementTarget"/>
    <!--Replace method-->
</beans>